{% extends 'customer/index.html' %}

{% block content %}
    <div class="content-section">
        {% if job %}
            <h2 class="article-title">{{ job.job_header }}</h2>
            <p class="text-muted">{{ job.posted.strftime('%Y-%m-%d') }}
                <span>&bull;</span>
                <span class="text-dark">{{ job.applications_count }}</span>

                {% if job.applications_count == 1 %}
                    application
                {% else %}
                    applications
                {% endif %}

            </p>
            <div class="bi bi-cash">
                <img src="../../../static/img/cash.svg" alt="cash logo" height="25" width="25"/>
                <i>{{ job.price }}$</i>
                {% if job.is_hourly_rate %}
                    per hour
                {% else %}
                    for project
                {% endif %}
            </div>
            <p class="text-muted"></p>
            <br>
            <p class="article-content">{{ job.description }}</p>
            <br>
            {% if g.user.customer_id == job.customer_id %}
                <div class="form-group">
                    <a href="{{ url_for('customer.edit_job', job_id=job.job_id) }}"
                       type="submit"
                       class="btn btn-outline-info">
                        Edit
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% if applications_template %}
        <div class="content-section">
            {{ applications_template|safe }}
        </div>
    {% endif %}


{% endblock %}
