{% extends "customer/index.html" %}


{% block media_block %}
    <script src="{{ url_for('static', filename='handle_user_input.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="article-title">
                <h3>Add job</h3>
            </div>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
                    <script>
                        const price_input = document.getElementById('price');
                        price_input.oninput = function () {
                            this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');
                        }
                    </script>
                    <input type="checkbox" name="hourly_rate" value="true" id="hourly_rate_chB">
                    <label for="hourly_rate_chB">
                        Hourly rate
                    </label>
                    <br>
                    <br>
                </div>
                {#                <div class="form-group">#}
                {#                    {{ form.deadline.label(class="form-control-label") }}#}
                {#                    {% if form.deadline.errors %}#}
                {#                        {{ form.deadline(class="form-control form-control-lg is-invalid") }}#}
                {#                        <div class="invalid-feedback">#}
                {#                            {% for error in form.deadline.errors %}#}
                {#                                <span>{{ error }}</span>#}
                {#                            {% endfor %}#}
                {#                        </div>#}
                {#                    {% else %}#}
                {#                        {{ form.deadline(class="form-control form-control-lg") }}#}
                {#                    {% endif %}#}
                {#                </div>#}

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}