{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Customer{% endblock %}</h1>
{% endblock %}

{% block home_btn %}
    <a class="nav-item nav-link" href="{{ url_for('customer.index') }}">Home</a>
{% endblock %}

{% block user_buttons %}
    <a class="nav-item nav-link" href="{{ url_for('customer.create_job') }}">Add job</a>
    <a class="nav-item nav-link" href="{{ url_for('customer.my_jobs') }}">My jobs</a>
    <a class="nav-item nav-link" href="">Edit Profile</a>
{% endblock %}

{% block user_greetings %}
    {% if g.user %}
    {% else %}
        User NOT logged
        <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}

{% endblock %}

{% block content %}
    {% if jobs_template %}
        {{ jobs_template|safe }}
    {% endif %}
{% endblock %}
