{% extends 'base.html' %}

{% block header_block %}
    <title>Freelancer</title>
{% endblock %}

{% block left_menu %}
    <a class="nav-item nav-link" href="{{ url_for('freelancer.index') }}">Jobs</a>
    <a class="nav-item nav-link" href="{{ url_for('freelancer.get_applied_jobs') }}">Applications</a>
{% endblock %}


{#{% block user_greetings %}#}
{#    {% if g.user %}#}
{#    {% else %}#}
{#        User NOT logged#}
{#        <a href="{{ url_for('auth.login') }}">Log In</a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block content %}
    {% if jobs_template %}
        {{ jobs_template|safe }}
    {% endif %}
{% endblock %}

