{% extends "freelancer/index.html" %}

{% block content %}
    {% if job_template %}
        <div class="content-section">
            {{ job_template|safe }}
            {% if g.user %}
                {% if g.user.role == 'freelancer' %}
                    {% if form %}
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">{{ legend }}</legend>
                                <div class="form-group">
                                    {{ form.description.label(class="form-control-label") }}
                                    {% if form.description.errors %}
                                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.description.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% if application %}
                                            <input class="form-control form-control-lg"
                                                   type="text"
                                                   value="{{ application.description }}"
                                                   readonly="readonly">
                                        {% else %}
                                            {{ form.description(class="form-control form-control-lg") }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.price.label(class="form-control-label") }}
                                    {% if form.price.errors %}
                                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.price.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% if application %}
                                            <input class="form-control form-control-lg"
                                                   type="text"
                                                   value="{{ application.price }}"
                                                   readonly="readonly">
                                        {% else %}
                                            {{ form.price(class="form-control form-control-lg") }}
                                        {% endif %}
                                    {% endif %}
                                    <script>
                                        const price_input = document.getElementById('price');
                                        price_input.oninput = function () {
                                            this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');
                                        }
                                    </script>
                                </div>
                            </fieldset>
                            {% if application %}
                                <div class="form-group">
                                    <input type="submit"
                                           class="btn btn-outline-danger"
                                           value="Cancel application"
                                           name="submit">
{#                                {{ form.cancel(class="btn btn-outline-danger") }}#}
                                </div>
                            {% else %}
                                <div class="form-group">
{#                                    {{ form.submit(class="btn btn-outline-info") }}#}
                                <input type="submit"
                                       class="btn btn-outline-info"
                                           value="Apply"
                                           name="submit">
                                </div>
                            {% endif %}

                        </form>
                    {% else %}
                        <h3>You already applied for this job!</h3>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
