{% extends 'freelancer/index.html' %}

{% block content %}
    <h3 class="article-title ml-3">
        My unfinished jobs:
        {% if jobs %}
            {{ jobs|length }}
        {% else %}
            0
        {% endif %}
    </h3>
    {% if jobs %}
        {% for job in jobs %}
            <article class="content-section">

                <div class="container">
                    <div class="row">
                        <div class="col-10 float-left">
                            <h4>
                                <a class="article-title row"
                                   href="{{ url_for('freelancer.explore_finished_job', job_id=job.job_id) }}">
                                    {{ job.job_header }}
                                </a>
                            </h4>
                            <div class="row">
                                <span class="text-muted">Accepted {{ job.job_accepted.strftime('%Y-%m-%d') }}</span>
                            </div>
                            <div class="row">
                                <span class="text-muted">Finished <span>job was stopped.</span></span>
                            </div>
                            <br>
                            <div class="row">
                                <a class="mr-2" href="">Author: {{ job.cust_f_name|title ~ ' ' ~ job.cust_l_name|title }}</a>
                            </div>
                        </div>
                        <div class="bi bi-cash float-right col-2">
                            <img
                                    src="../static/img/cash.svg"
                                    alt="cash logo"
                                    height="25"
                                    width="25"/>

                            <i>{{ job.app_price }}$</i>
                            <div>
                                {% if job.is_hourly_rate %}per hour{% else %}
                                    <div class="text-muted">for project</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}