{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Jobs{% endblock %}</h1>
{% endblock %}

{% block body %}
    <h1>Available jobs:</h1>

    <table>
        {% for job in jobs %}
            <TR>
               <TD class="c2">{{item.date}}</TD>
               <TD class="c3">{{item.id}}</TD>
               <TD class="c4"><SPAN>{{item.position}}</SPAN></TD>
               <TD class="c5"><SPAN>{{item.status}}</SPAN></TD>
            </TR>
        {% endfor %}
    </table>

{% endblock %}