{% if freelancer %}
    <div class="content-section">
        <div class="container">
            <h2 class="article-title">
                {{ freelancer.first_name|title }} {{ freelancer.last_name|title }}</h2>
            <div>
                <div class="mt-3">
                    <p>
                        Status:
                        {% if freelancer.is_blocked %}
                            <span style="color: red;">
                                blocked
                                </span>
                        {% else %}
                            <span style="color: green;">
                                active
                                </span>
                        {% endif %}
                    </p>
                </div>
                <div>
                    <p>New applications: {{ freelancer.active_applications_count }}</p>
                </div>
                <div>
                    <p>Finished jobs: {{ freelancer.finished_jobs_count }}</p>
                </div>
                {% if g.user.role == 'admin' %}

                    <form method="POST" action="">
                        <div class="d-flex justify-content-between mt-5">
                            <div class="d-flex flex-row">
                                <div class="form-group">
                                    <input
                                            type="submit"
                                            {% if freelancer.is_blocked == True %}
                                            class="btn btn-outline-success"
                                            value="Unblock freelancer"
                                            {% elif freelancer.is_blocked == False %}
                                            class="btn btn-outline-danger"
                                            value="Block freelancer"
                                            {% endif %}
                                            name="submit">
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
