<div class="content-section">
    {% if job %}
        <h2 class="article-title">{{ job.job_header }}</h2>
        <p class="text-muted">{{ job.posted.strftime('%Y-%m-%d') }}
            <span>&bull;</span>
            <span class="text-dark">{{ job.applications_count }}</span>

            {% if job.applications_count == 1 %}
                application
            {% else %}
                applications
            {% endif %}

        </p>
        <div class="bi bi-cash" style="color: green;">
            <img src="../../../static/img/cash.svg" alt="cash logo" height="25" width="25"/>
            <i>{{ job.price }}$</i>
            {% if job.is_hourly_rate %}
                per hour
            {% else %}
                for project
            {% endif %}
        </div>
        <br>
        {% if g.user %}
            {% if g.user.role == 'admin' %}
                <p>Author: {{ job.first_name|title }} {{ job.last_name|title }}</p>
                <p>Email: <i>{{ job.email }}</i></p>
                {% endif %}
            {% endif %}
        <p class="article-content">{{ job.description }}</p>
    {% endif %}
</div>
